@font-face {
    font-family: 'Better';
    src: url('../../assets/fonts/Better-Regular.woff') format('woff2'),
        url('../../assets/fonts/Better-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

